@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;

  --color-border-base-color:0, 0, 0;
  --color-text-base-color:0, 0, 0;
  --color-base-1: 0 0 0;
  --color-base-2: 255 211 180;
  --color-base-3: 254 239 197;
  --color-base-4: 110 122 212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--color-base-2));
  /*background-color: rgb(var(--color-base-1));*/

  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--color-base-1))
    )
    rgb(var(--color-base-1));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


